<%- include("partials/header.ejs") %>
    <h1>COMPOSE</h1>
    <form action="/compose" method="post">
        <div class="mb-3">
            <label>Title</label>
            <input type="text" name="blog_title" class="form-control">
        </div>
        <div class="mb-3">
            <label>Post</label>
            <textarea rows="4" name="blog_body" cols="30" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">publish</button>
    </form>

<% -include("partials/footer.ejs")%>