</main>

<footer>
  <% const date=new Date().getFullYear();%>
    <p>Copyright © <%= date %>
        <!-- not only index.js thekei pathan lgbe..jei js nia kaj krtec ekhane ,shei variabble diye dleo hbe -->
    </p>

    <!-- <p>Copyright © <%= new Date().getFullYear()  %></p> -->
    <!-- direct emne likha jay -->
</footer>
</body>

</html>