<!DOCTYPE html>
<html>
  <head>
    <title>Secrets</title>
  </head>

  <body>
    <% if (day == 6) { %>
    <p>have fun!!</p>
    <%} else { %>
    <p>work hard!!</p>
    <% } %>
  </body>
</html>
